body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

header {
    background: #f7f7f7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;    
}

h1 {
    margin-top: 60px;
    font-weight: 800;
}

.menu {
    display: flex;
    gap: 20px;
    padding: 0px;
    margin-bottom: 80px;
}

.menu li {
    list-style-type: none;
}

.menu li a{
    text-decoration: none;
    background: white;
    padding: 10px 20px;
    color: #000;
}

.menu li a:hover{
    border:3px solid red;
}

.bikcraft {
    width: 50%;
}

main {
    background: #f7f7f7;
}

.conteudo-principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 200px;
}

.parte1{
    display: flex;
    position: relative; /* Necessário para posicionar o pseudo-elemento corretamente */
}

.bicicletas-feitas-a-mao {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background: white;
    justify-content: center;
    width: 50%;
    padding: 0px 20px;
    position: relative; /* Necessário para que o posicionamento absoluto do pseudo-elemento funcione */
}

.bicicletas-feitas-a-mao::before {
    content: "";
    display: block;
    width: 10%;
    height: 4px;
    background-color: #ee2211; 
    position: absolute;
    top: 20px;
    right: -25px;
}


p {
    font-size: 20px;
}

/*Top Right Bottom Left*/

h2 {
    margin: 0;
}

.bicicletas-feitas-a-mao a{
    text-decoration: none;
    background: #ee2211;
    color: white;
    padding: 15px 30px;
    border-radius: 4px;
}

.parte2{
    display: flex;
    margin: 0 0 70px 0;
}

.vantagens-bikcraft1 {
    background: #f7f7f7;
    align-self: center;
    width: 50%;
}

.vantagens-bikcraft1 h2 {
    font-size: 64px;
    color: rgba(0, 0, 0, 0.2);
    text-align: right;
    padding: 40px;
    align-self: center;
}

.vantagens-bikecraft2 {
    box-sizing: border-box;
    background: white;
    width: 50%;
    padding: 50px 50px;
    
}

.vantagens-bikecraft2 h3 {
    display: inline;
    margin: 0 20px;
}

.titulo {
    display: flex;
    gap: 2px;
}

.vantagens-bikecraft2 p {
    margin-left:50px;
}

footer p{
    text-align: center;
    padding: 20px 0;
}

@media (max-width: 1115px) {
    .bikcraft {
        object-fit: cover;
         /* Para garantir que a imagem se ajuste bem ao contêiner */
    }
}