* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Montserrat;
}

header {
    background:#06121E;
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding: 20px 0;
}

header ul {
    display: flex;
    gap: 40px;
    list-style-type: none;
}

header ul li a{
    text-decoration: none;
    color:#FFFFFF;
}

