main {
    width: 940px;
    margin: 0 auto;
}

@media screen and (max-width: 480px) {

    main {
        width: 100%;
    }

    .input-padrao {
        width: 80%;
        margin: 0 0 5% 4%
    }
}