.banner {
    display: flex;
    align-items: center;
    padding: 60px 160px;
    background-image: url(/Desafio-Final/imgs/background-banner.png);
    gap: 150px;
}

.banner h1 {
    /* ajeitar disposição do conteúdo do texto */
    color: #F2F2F2;
    font-size: 64px;
    font-weight: 700;
    line-height: 80px;
}

.banner h1 span {
    display: inline-block;
    border-bottom: 4px solid #FF5733; 
}

@media  (max-width: 1595px) {

    .banner {
        gap: 50px;
    }

    .banner img {
        width: 500px;
    }

    .banner h1 {
        font-size: 50px;
    }
    
}

@media (max-width: 360px) {

    /* ajeitar dimensão da imagem para se adaptar ao tamanho da tela */

    .banner {
        flex-direction: column;
        gap: 16px;
        width: 100%;
        height: 60vh;
        padding: 20px;
    }

    .banner h1 {
        font-size: 24px;
        line-height: 32px;
        padding: 20px;
    }

    .banner img {
        width: 300px;
        height: 210px;
    }
}


