.contato {
    padding: 80px;
    background: #F7F7F7;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contato h2 {
    /* ajeitar posicionamento */
    font-size: 48px;
    font-weight: 700;
    line-height: 52px;
    color: #333333;
}

.container-contato {
    display: flex;
}

.contaier-parte1 {
    background: black;
    margin-top: 32px;
    padding: 40px;
    border-radius: 5px 0 0 5px;
    width: 700px;
}

.contaier-parte1 h3 {
    font-family: Lato;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0.015em;
    color: #F2F2F2;
}

.descricao-container-parte1{
    font-family: Lato;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    color: #C4C4C4;
    margin-top: 24px;
    margin-bottom: 64px;
}

.contaier-parte1 h4 {
    font-family: Lato;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.015em;
    text-align: left;
    color: #C4C4C4;
}

.container-endereco {
    /* margin: top right bottom left; */
    display: flex;
    gap: 4px;
    margin: 12px 0 20px 0;
}

.container-endereco p {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #B3B3B3;
}

iframe {
    border-radius: 5px;
}

.contaier-parte2 {
    margin-top: 32px;
    padding: 32px 40px 0 40px;
    background: #F2F2F2;
}

.contaier-parte2 h4 {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.015em;
    color: #333333;
    position: relative;
    margin-bottom: 64px;
}

.contaier-parte2 h4::before {
    content: "";
    position: absolute;
    width: 4px;
    height: 10px;
    background: #FF5733;
    right: 100%;
    top: 7px;
    margin-right: 2px;
    border-radius: 1px;
}

.form-parte1 {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.container1-form-parte1 {
    display: flex;
    flex-direction: column;
}

form label {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.015em;
    color: #333333;
    margin-bottom: 4px;
}

form input {
    width: 335px;
    height: 48px;
    border: none;
    border-radius: 5px;
    outline: none;
    opacity: 0px;
    box-shadow: 0 0 0 1px transparent;
    background: #F7F7F7;
}

.form-parte2 {
    display: flex;
    flex-direction: column;
}

form textarea {
    border: none;
    border-radius: 5px;
    outline: none;
    opacity: 0px;
    box-shadow: 0 0 0 1px transparent;
    background: #F7F7F7;
}

.checkbox {
    display: flex;
    align-items: center;
    margin-top: 20px;
    cursor: pointer;
    user-select: none;
}

.checkbox input {
    margin-right: 10px;
    width: 20px;
    height: 20px;
    border: none;
    outline: none;
    border-radius: 5px;
    background: #F7F7F7;
}

.checkbox label {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.015em;
    color: #333333;
}

.enviar {
    margin-top: 20px;
    background: #FF5733;
    font-family: Lato;
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    cursor: pointer;
}

@media (max-width: 360px) {

    .contato {
        padding: 20px 20px;
    }

    .contato h2 {
        font-size: 20px;
        line-height: 32px;
    }

    .container-contato {
        flex-direction: column;
    }

    .contaier-parte1 {
        margin-top: 10px;
        width: auto;
        padding: 20px 25px;
    }

    .contaier-parte1 h3{
        font-size: 14px;
        line-height: 20px;
    }

    .descricao-container-parte1 {
        margin: 10px 0;
        font-size: 14px;
    }

    .mapa-container-parte1 {
        display: none;
    }

    .form-parte1 {
        flex-direction: column;
        gap: 5px;
    }

    .contaier-parte2 {
        width: auto;
        padding: 20px;
        margin: 0;
    }

    .contaier-parte2 h4 {
        font-size: 12px;
        margin-bottom: 15px;
    }

    form label {
        font-size: 10px;
        line-height: 16px;
    }

    form input {
        height: 24px;
        width: auto;
    }

    .enviar {
        /* margin: top right bottom left; */
        margin-top: 10px;
        padding: 5px 10px 30px 10px ;
        font-size: 12px;
    }


}

