.servicos {
    background: #121212;
    padding: 80px;
    overflow-x: hidden;
}

.servicos h2 {
    font-size: 48px;
    font-weight: 700;
    line-height: 52px;
    color: #FFFFFF;
    margin-bottom: 32px;
}

.textos-servicos {
    display: flex;
    flex-direction: column;
    gap: 32px; 
    margin-bottom: 80px;
}

.textos-servicos p {
    font-family: Lato;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    color: #FFFFFF;
}

.card-image {
    position: relative; 
    width: 509px;
    height: 452px;
    border-radius: 5px;
    cursor: pointer;
}

.card-image .card-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.card-image h2 {
    position: absolute; 
    bottom: 10px; 
    left: 50%; 
    transform: translateX(-50%); 
    font-family: Poppins;
    font-size: 32px;
    line-height: 40px;
    color:#F2F2F2;
    border-radius: 5px; 
    text-align: center; 
    width: 90%; 
}

.swiper {
    max-width: 1430px;
    width: 100%;
    height: 452px;
    --swiper-navigation-color: #fff;
}

@media (max-width: 360px) {

    .card-image {
        position: relative; 
        width: 312px;
        height: 271px;
        border-radius: 5px;
        cursor: pointer;
    }
    

    .servicos {
        padding: 20px;
    }

    .servicos h2 {
        font-size: 20px;
        line-height: 32px;
        margin-bottom: 10px;
    }

    .textos-servicos {
        margin-bottom: 20px;
    }
    
    .textos-servicos p {
        font-size: 14px;
        line-height: 20px;
    }
}
