.servicos {
    background: #121212;
    padding: 80px;
}

.servicos h2 {
    font-size: 48px;
    font-weight: 700;
    line-height: 52px;
    color: #FFFFFF;
    margin-bottom: 32px;
}

.textos-servicos {
    display: flex;
    flex-direction: column;
    gap: 32px; 
    margin-bottom: 80px;
}

.textos-servicos p {
    font-family: Lato;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    color: #FFFFFF;
}

.slide {
    min-height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-image {
    position: relative;
    width: 509px;
    height: 452px;
    border-radius: 5px;
}

.card-image .card-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.overlay {
    position: relative; 
}

.overlay h2 {
    position: absolute;
    bottom: 5px; 
    color: white;
    padding: 10px 50px;
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
}

