.servicos {
    background: #121212;
    padding: 80px;
}

.servicos h2 {
    font-size: 48px;
    font-weight: 700;
    line-height: 52px;
    color: #FFFFFF;
    margin-bottom: 32px;
}

.textos-servicos {
    display: flex;
    flex-direction: column;
    gap: 32px; 
    margin-bottom: 80px;
}

.textos-servicos p {
    font-family: Lato;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    color: #FFFFFF;
}

.carrossel {
    width: auto;
}