/* Estilos para o modal */
.modal {
    display: none; /* Escondido por padrão */
    position: fixed; /* Fixo na tela */
    z-index: 1; /* Ficar na frente */
    left: 0;
    top: 0;
    width: 100%; /* Largura total */
    height: 100%; /* Altura total */
    overflow: auto; /* Habilitar rolagem se necessário */
    background-color: rgb(0,0,0); /* Fallback */
    background-color: rgba(0,0,0,0.4); /* Fundo com opacidade */
}

/* Estilo do conteúdo do modal */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% do topo e centralizado */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Largura */
    max-width: 600px; /* Largura máxima */
}

/* Estilo do botão de fechar */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
