.Sobre {
    margin: 80px;
}

.Sobre h1{
    font-size: 48px;
    line-height: 52px;
    margin-bottom: 32px;
    font-weight: 700;
    color: #333333;
}

.descricao-sobre {
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    margin-bottom: 32px;
    color: #333333;
}

.nossa-equipe h2{
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    margin-bottom: 20px;
}

.nossa-equipe-cards{
    display: flex;
    margin-bottom: 60px;
    gap: 40px;
}

.carde {
    /* margin: top right bottom left; */
    background: #F2F2F2;
    padding: 40px 40px 60px 40px;
    border-radius: 5px;
}

.top-card {
    display: flex;
    justify-content: start;
    gap: 20px;
    position: relative;
    margin-bottom: 23px;
}

.top-card::after {
    content: "";
    display: block;
    position: absolute;
    width: 4px;
    height: 10px;
    left: 100%;
    background: #FF5733;
    border-radius: 1px;
 }

.top-card2 h3 {
    font-size: 24px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.015em;
    color: #333333;
    margin-bottom: 5px;
}

.top-card2 p {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px; 
    color:#C4C4C4;
}

.descricao-card {
    position: relative;
    line-height: 32px;
    color: #666666;
    padding: 10px 0;
}

.descricao-card::before {
    /* mudar todas as unidades de width para (vw) e height para (vh) */
    content: "";
    position: absolute;
    width: 19.79vw;
    height: 2px;
    bottom: 100%;
    border-radius: 2px;
    background: #F0EEEE;
}

 .descricao-card::after {
    content: "";
    position: absolute;
    width: 12vw;
    height: 2px;
    top: 100%;
    left: 80px;
    border-radius: 2px;
    background: #F0EEEE;
 } 

.historia-empresa {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 32px;
}

.Nossa-Visao {
     margin-bottom: 32px;
}

.subtitulo-sobre {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.015em;
    margin-bottom: 12px;
}

.paragrafo-sobre {
    /* margin: top right bottom left; */
    background: #F0EEEE;
    padding: 13px 130px 13px 39px;
    border-radius: 5px;
    position: relative;
}

.paragrafo-sobre::before {
    content: "";
    position: absolute;
    width: 4px;
    height: 10px;
    background: #FF5733;
    left: 30px;
    top: 20px;
}

.Nossos-Valores {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.paragrafo-sobre span {
    font-weight: bold;
}

@media (max-width: 360px) {

    .Sobre {
        margin: 24px;
    }

    .nossa-equipe-cards {
        flex-direction: column;
        gap: 20px;
    }

    .Sobre h1{
        font-size: 20px;
        line-height: 32px;
        font-weight: 700;
        color: #333333;
        margin-bottom: 10px;
    }

    .descricao-sobre {
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        margin-bottom: 10px;
    }

    .nossa-equipe h2 {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 10px;
    }

    .nossa-equipe-cards {
        margin-bottom: 20px;
    }

    .carde {
        padding: 30px;
    }

    .top-card1 img {
        width: 50px;
        height: 50px;
    }

    .top-card2 h3 {
        font-size: 14px;
        line-height: 14px;
    }

    .top-card2 p {
        font-size: 10px;
        line-height: 16px;
    }

    .top-card2 img {
        width: 16px;
        height: 16px;
    }
    
    .descricao-card {
        font-size: 14px;
        line-height: 24px;
        padding: 0px;
    }

    .historia-empresa {
        margin-bottom: 20px;
    }

    .historia-empresa p {
        font-size: 14px; 
        line-height: 20px;
    }

    .paragrafo-sobre {
        /* top right bottom left; */
        margin-top: 10px;
        font-size: 14px;
        line-height: 20px;
        padding: 13px 30px 13px 39px;
    }

    .Nossa-Visao {
        margin-bottom: 15px;
    }

    .subtitulo-sobre {
        font-size: 14px;
        line-height: 20px;
        margin: 0px;
    }
}