@import url(./navbar.css);
@import url(./banner.css);
@import url(./sobre.css);
@import url(./servicos.css);
@import url(./contato.css);
@import url(./footer.css);
@import url(./swiper-bundle.min.css);
@import url(./servicos-modal.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

p {
    font-family: Lato;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    color: #333333
}

body {
    margin-top: 95px; 
}




/* corrigir os outros arquivos em css, depois de sobre em relação ao p */
